body {
    margin: 10;
    padding: 0;
    font-family: 'PT Sans', Helvetica, Arial, Sans-serif;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

#wrapper {
    width: 700px;
}

#chart-wrapper {
    width: 100%;
    position: relative;
    height: 420px;
}

#myCanvas {
    width: 393px;
    height: 370px;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 198px;
    margin-right: 10px;
    background: rgba(239, 198, 48, 0.05)
}

.chart {
    width: 600px;
    height: 400px;
    position: absolute;
}

#controls {
    width: 100%;
    position: relative;
    visibility: hidden;
}

.line {
    fill: none;
    stroke: #999999;
    stroke-width: 2.5px;
}

.line2 {
    fill: none;
    stroke: #2f8fce;
    stroke-width: 2.5px;
}

.zero-line {
    fill: none;
    stroke: #5c5c5c;
    stroke-width: 1px;
}

.axis line{
    stroke: #5c5c5c;
}

.axis path{
    stroke: #5c5c5c;
}

.axis {
    font-size: 12px;
}

.axis text{
    fill: #333333;
} 

.instructions {
    fill: #EFC350;
    font-size: 20px;
    font-family: "PT Sans", "sans-serif";
    font-weight: bold;
}

h1 {
    font-family: "PT Sans Narrow", "sans-serif";
    font-weight: normal;
    font-size: 26px;
}

p {
    font-family: "PT Serif", "serif";
}